<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="AWSAccessKey" value="AKIAIOUBY6YHX6DQ4GGQ" />
		<add key="AWSSecretKey" value="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" />
    <add key="Email.Host" value="smtp.gmail.com" />
    <add key="Email.Port" value="587" />
    <add key="Email.Address" value="c.h.berry@gmail.com" />
    <add key="Email.DisplayName" value="Craig Berry" />
    <add key="Email.Password" value="HaleyAiden" />
    <add key="Image.Large.Height" value="320"></add>
    <add key="Image.Large.Width" value="200"></add>
    <add key="Image.Small.Height" value="160"></add>
    <add key="Image.Small.Width" value="100"></add>
  </appSettings>
	<connectionStrings>
    <add name="LocalConnectionString" connectionString="Data Source=localhost;Initial Catalog=Charity;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient" />
    <add name="AmazonConnectionString" connectionString="Data Source=charity.cvodiqcbklfl.us-east-1.rds.amazonaws.com,1433;Initial Catalog=Charity;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=n1tc-n1tc" providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<!-- 
			Set compilation debug="true" to insert debugging 
			symbols into the compiled page. Because this 
			affects performance, set this value to true only 
			during development.
		-->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
			The <authentication> section enables configuration 
			of the security authentication mode used by 
			ASP.NET to identify an incoming user. 
		-->
		<authentication mode="None"/>

    <customErrors mode="Off" />

    <pages 
      controlRenderingCompatibilityVersion="3.5" 
      clientIDMode="AutoID"
      theme="default" />
  </system.web>
	<!-- 
		The system.webServer section is required for running ASP.NET AJAX under Internet
		Information Services 7.0.  It is not necessary for previous version of IIS.
	-->
</configuration>
