<?xml version="1.0"?>
<configuration>
	<appSettings>
    <add key="ConnectionString" value="LocalConnectionString"/>
		<add key="AWSAccessKey" value="AKIAIOUBY6YHX6DQ4GGQ"/>
		<add key="AWSSecretKey" value="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"/>
	</appSettings>
	<connectionStrings>
    <add name="LocalConnectionString" connectionString="Data Source=localhost;Initial Catalog=Charity;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient" />
    <add name="AmazonConnectionString" connectionString="Data Source=charity.cvodiqcbklfl.us-east-1.rds.amazonaws.com,1433;Initial Catalog=Charity;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=n1tc-n1tc" providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<!-- 
			Set compilation debug="true" to insert debugging 
			symbols into the compiled page. Because this 
			affects performance, set this value to true only 
			during development.
		-->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
			The <authentication> section enables configuration 
			of the security authentication mode used by 
			ASP.NET to identify an incoming user. 
		-->
		<authentication mode="None"/>
		<!--
			The <customErrors> section enables configuration 
			of what to do if/when an unhandled error occurs 
			during the execution of a request. Specifically, 
			it enables developers to configure html error pages 
			to be displayed in place of a error stack trace.

			<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
				<error statusCode="403" redirect="NoAccess.htm" />
				<error statusCode="404" redirect="FileNotFound.htm" />
			</customErrors>
		-->
		<pages 
      controlRenderingCompatibilityVersion="3.5" 
      clientIDMode="AutoID"
      theme="default" />
  </system.web>
	<!-- 
		The system.webServer section is required for running ASP.NET AJAX under Internet
		Information Services 7.0.  It is not necessary for previous version of IIS.
	-->
</configuration>
